#container {
    height: 490px;
    width: 370px;
    margin: 50px auto;
    padding-top: 30px;
    border-radius: 10px;
    background-color: black;
}

#display {
    height: 70px;
    width: 335px;
    display: block;
    margin: auto;
    font-size: 55px;
    background-color: turquoise;
    text-align: right;
    border-radius: 10px;
    outline: none;
}

button {
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 35px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.9);
}

button:disabled:hover {
    opacity: 1.0;
    transform: none;
    cursor: default;
}

#buttons-container {
    height: 350px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}